<h1>Update Pets</h1>
<h2>Edits for <%= @pet.name %></h2>

<form action="/pets/<%= @pet.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch" />
  <label>Edit the Pet's Name:</label>

  <br>

  <input type="text" name="pet[name]" id="pet_name" value="<%= @pet.name %>">
  <p>Select an existing owner or create a new one below.</p>

  <h3>Existing owner </h3>
  <% @owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>" <%='checked' if @pet.owner == owner %>><%= owner.name %></input><br>
  <% end %>
  <br>

  <h3>New Owner</h3>
  <label for="owner[name]">Owner Name: </label>
  <br>
  <input type="text" name="owner[name]" id="owner_name" />
  <br><br>


  <input type="submit" value="Update Pet">
</form>
